{% extends "html/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/album.css' %}" type="text/css">
{% endblock %}


{% block content %}

<div class="albumpage">
    <div class="albums">
        <div class="image">
            <img src="/media/images/{{ album.AlbumLogo }}" alt="Album Profile Photo"
                class="img">
        </div>
        <div class="info">
            <h1>{{ album.AlbumName }}</h1>
            <button class="play-btn">Play</button>
            <button class="like-btn"><i class="far fa-heart"></i></button>
        </div>
    </div>
    <div class="container songs-list">
        <div class="overview">
            {% if albums is not True %}
            {% for instance in songs %}
            <div class="songs">
                <p class="serialno">{{ forloop.counter }}</p>
                <p class="song-name">{{ instance.Title }}</p>
                <audio controls class="player">
                    <source src="{{ instance.SongAudio.url }}" type="audio/mpeg"/>
                    <source src="{{ instance.SongAudio.url }}" type="audio/mpeg"/>
                    <source src="{{ instance.SongAudio.url }}" type="audio/mpeg"/>
                </audio>
                <a href="#"><i class="far fa-heart"></i></a>
            </div>
            {% endfor %}
            {% else %}
            <p>No songs added to this album yet</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- <img src="{{ obj.Photo }}"> -->
<!-- <h1>{{ album.AlbumName }}</h1>
{% if album is True %}
    {% for instance in songs %}
        {{ instance.Title }}
    {% endfor %}
{% endif %} -->

{% include "html/footer.html" %}

{% endblock %}