{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    {% block head %}
    {% endblock %}
    <title>Play Lite Music</title>
</head>

<body>
    <div class="base">
        <nav class="navbar container-fluid">
            <div class="logo">
                <img class="nav-img menulinks" src="/media/images/itunes.png" height="40px">
            </div>
            <div class="sitename">
                <a class="span menulinks" href="{% url 'home' %}">PlayLit Music</a>
            </div>
            <div class="account">
                <a href="{% url 'login' %}" class="accountlinks">Sign in</a>
                <a href="{% url 'sign_up' %}" class="accountlinks">Sign up</a>
                <a href="{% url 'profile' request.user %}" class="accountlinks" id="profile"><i class="fa fa-user" aria-hidden="true"></i></a>
                <a href="{% url 'logout' %}" class="accountlinks">Logout</a>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>