{% include "html/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}" type="text/css">
{% endblock %}

{% block content %}

{% csrf_token %}

<div class="main-container">
  
  <div class="profileContainer">
    <h1>{{ user.First_Name }} {{ user.Last_Name }}</h1>

  </div>

  <div class="playlistContainer">
    <h1>Your Playlists</h1>
    {% if playlist is not None %}
    <div class="yourPlaylist">
    {% for p in playlist %}
      <div class="card">
        <a href="{% url 'album' p.Song.Album.Artist.Name p.Song.Album.AlbumName %}">
          <img src="/media/{{ p.Song.Album.AlbumLogo }}" alt="{{ playlist.Song.Album.AlbumName }}">
          <h3>{{ p.Song.Title }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
    {% else %}
    <h1>Your Playlist is empty.</h1>
    {% endif %}
  </div>

  <div class="artistContainer">
    <h1>Artist you follows</h1>
    {% if following is not None %}
    <div class="yourArtist">
    {% for f in following %}
      <div class="card">
        <a href="{% url 'artist' f.Artist.Name %}">
          <img src="/media/{{ f.Artist.Photo }}" alt="{{ f.Artist.Name }}">
          <h3>{{ f.Artist.Name }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
    {% else %}
    <h1>Your Playlist is empty.</h1>
    {% endif %}
  </div>
</div>

{% include 'html/footer.html' %}

{% endblock %}